* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* align-content: center; */
  align-items: center;
  height: 100vh;
  /* width: 100vh; */
}

/* .flex-container > * {
  flex-basis: 150px;
} */

.centered-div {
  background-color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70vh;

  border: solid rgb(192, 192, 192) 3px;
  border-radius: 10px;
}

/* .centered-div:hover {
  border: solid #9765de 3px;
} */

img {
  height: 30vh;
  width: 30vh;
  border-radius: 50%;
  border: solid rgb(192, 192, 192) 3px;
  margin-top: 5vh;
}

img:hover {
  border: solid #9765de 3px;
  cursor: pointer;
}

.title {
  text-align: center;
}

.title > p {
  margin-bottom: 3vh;
  font-style: italic;
}

span {
  color: #9765de;
}
hr {
  opacity: 50%;
  margin-top: 2vh;
}
.content-section {
  width: 60vh;
  margin-top: 2vh;
  font-size: 12px;
  text-align: center;
}

.btn-contact {
  background-color: #9765de;
  border: solid #9765de 1px;
  border: none;
  border-radius: 10px;
  margin: 3vh;
  padding: 2vh;
  font-size: 12px;
  color: white;
  font-weight: 500;
}

.btn-contact:hover {
  border: solid #9765de 1px;
  color: #9765de;
  background-color: white;
  transition: 0.5s;
}

i {
  margin-bottom: 5vh;
  gap: 3vh;
  padding: 2vh;
  color: black;
}

i:hover {
  color: #9765de;
  cursor: pointer;
}
